dist
.eslintcache

*.iml
.idea/
.DS_Store
*.log*
*.debug*

# yarn berry PnP zero-install

# https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
# if you are NOT using Zero-installs, then:
# comment the following lines
!.yarn/cache
# and uncomment the following lines
# .pnp.*

# other package manager's stuff
.yarnrc
.npmrc
node_modules
package-lock.json
pnpm-lock.yaml

