dist
.eslintcache

*.iml
.idea/
.DS_Store
*.log*
*.debug*

# yarn berry without zero-install
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# other package manager's stuff
.yarnrc
.npmrc
node_modules
package-lock.json
pnpm-lock.yaml

